.reveal h1 {
  font-family: 'Bangers', sans-serif;
  color: #212121;
}

.reveal h2, 
.reveal .level2 > h1 {
  font-family: 'Acme';
  color: #212121;
}

.reveal p, .reveal li {
  font-family: 'Roboto Condensed', sans-serif;
}

.reveal a {
    color: #43447D;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal p, .reveal li > span {
  font-size: 0.75em;
  font-style: italic;
}

.reveal section p {
  text-align: center;
  font-size: 0.75em;
}

.reveal section ul {
  padding-top: 1.75em;
  list-style: none;
}

.reveal section li {
  padding-top: 0.75em;
}

.reveal .section-title-white > h1 { color: white;}