.reveal section p {
  text-align: left;
  font-size: 0.75em;
}

.reveal blockquote {
  width: 90%;
}

.reveal section ul {
  padding-top: 0.5em;
  list-style: none;
}

.reveal section li {
  padding-top: 0.1em;
}

.reveal section ul ul {
  font-size: 0.8em;
}

.reveal section li:before {
  content: '\b7\a0';
}

.reveal section h1 {
  font-size: 1.5em;
}

.reveal section .level1 h1 {
  font-size: 1.5em;
   color: white;
}

.reveal section .level2 h1 {
 font-size: 1.5em;
}
