/* main fonts */
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  /*background-image: url(http://ftp.utalca.cl/redcauquenes/PRC%20CAUQUENES/entrega%20seremi/proyecto%20cauquenes/logos/logo%20puc.jpg);*/
  background-size: 4%;
  background-repeat: no-repeat;
  background-position: 3% 97%;
}

/* Styles for titles */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #555555;
  font-family: "Alegreya Sans SC", sans-serif;
  word-spacing: 0.2em;
  font-weight: 500;
  letter-spacing: 0.0em;
}

/* some colors for title slides */
.reveal .white > h1,
.reveal .white > h2 { color: white; }
.reveal .black > h1,
.reveal .black > h2 { color: black; }
.reveal .gray10 > h1,
.reveal .gray10 > h2 { color: #1A1A1A;}
.reveal .gray20 > h1,
.reveal .gray20 > h2 { color: #333333;}
.reveal .blued > h1,
.reveal .blued > h2 { color: #13103e; }

.reveal .left  > h1,
.reveal .left  > h2 { text-align: left; }
.reveal .right > h1,
.reveal .right > h2 { text-align: right; }

.reveal h2 { padding-bottom: 0.55em; }

/* Styles for text p li */
.reveal p, .reveal li {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 130%;
  letter-spacing: 0;
}
.reveal p { padding-top: 0.55em; padding-bottom: 0.55em;}

/* ul li lists with more space */
.reveal section ul { padding-top: 0.55em; padding-bottom: 0.55em; list-style: none;}
.reveal section li { padding: 0.5em; }
.reveal section li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em; /* same as padding-left set on li */
  width: 1.5em; /* same as padding-left set on li */
}

/* nested lists */
.reveal section ul li ul {padding-top: 0em; padding-bottom: 0em;}

/* code */
.reveal code { font-family: "Fira Mono"; font-size: 80%;}
.reveal pre code { max-height: 700px; }

/* img */
.reveal section img {
  border: none;
  margin: 0;
}

.reveal section .imgnone {
  margin: none;
  background: none;
  border: none;
  box-shadow: none;
}

/* progress */
.reveal .progress {
  height: 9px;
}

.reveal .progress span {
  background: #384CB7;
}

/* columns */
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
  font-size: 60%;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
  font-size: 60%;
}