.slide {
  padding: 50px;
  padding-bottom: 0px;
}


div.sourceCode {
  overflow-x: initial;
}

.slide pre code {
  font-size: 0.7em;
}

/* tables */
/* http://www.smashingmagazine.com/2008/08/top-10-css-table-designs/2/ */
.slide table {
  margin: 10px;
}

.slide table tr:not(:last-of-type) > * {
  background: transparent
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;
  line-height: 1.6em;
  border-collapse: collapse;
	text-align: left;
	max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table {
  display: block;
  /*overflow-x:scroll;*/
  /*white-space: pre;*/
  overflow-x: auto;
  word-wrap: normal;
}

table th {
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid;
}

tr:hover {
  background-color: #f3f3f3; /* just like highlight */
}

table td {
	padding: 9px 8px 0px 8px;
}
