.title-slide {
  background-image: url("logo.png");
  background-size:  40%;
  /* background-position: right top;*/
  background-position: 100% -25%;
  background-repeat: no-repeat;
}

p, ul > li {
    font-size: 1.3em;
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 7px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #272822;
}